<div class="row memberships">
  <div class="col-sm-2">
    <h1>Memberships</h1>
  </div>
  <div class="col-sm-3 pull-right">
    <%= smart_listing_controls_for(:memberships) do %>
      <div class="filter input-append form-group">
        <%= select_tag :filter, options_from_collection_for_select(@organisations, :id, :name), class: 'form-control', prompt: '--- Select an organisation ---' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2 pull-right">
    <%= link_to "New Membership", new_membership_path, class: "btn btn-primary" %>
  </div>
</div>

<%= smart_listing_render(:memberships) %>

<br>
