<div class="row imports">
  <div class="col-sm-2">
    <h1>Imports</h1>
  </div>
  <div class="col-sm-2 pull-right">
    <%= link_to 'New Import', new_import_path, class: "btn btn-primary" %>
  </div>
</div>

<%= smart_listing_render(:imports) %>

<br>
