<ul class='list-group' id="<%= "#{type}-uploads"%>">
  <%- uploads.each do |upload| %>
    <li class='list-group-item'><%= upload.attachment_file_name %><span class="pull-right"><%= link_to 'Destroy', document_upload_path(document, upload) , method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></span></li>
  <% end %>
</ul>
