<div class="row peers">
  <div class="col-sm-2">
    <h1>Peers</h1>
  </div>
  <div class="col-sm-3 pull-right">
    <%= smart_listing_controls_for(:peers) do %>
      <div class="filter input-append form-group">
        <%= select_tag :filter, options_from_collection_for_select(@mentors, :id, :to_s), class: "form-control", prompt: '--- Select a mentor ---' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-1 pull-right">
    <%= link_to "New Peer", new_peer_path, class: "btn btn-primary" %>
  </div>
</div>

<%= smart_listing_render(:peers) %>


