<div class="row attendances">
  <div class="col-sm-2">
    <h1>Attendances</h1>
  </div>
  <div class="col-sm-3 pull-right">
    <%= smart_listing_controls_for(:attendances) do %>
      <div class="filter input-append form-group">
        <%= select_tag :filter, options_from_collection_for_select(@events, :id, :name), class: 'form-control', prompt: '--- Select an event ---' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2 pull-right">
    <%= link_to "New Attendance", new_attendance_path, class: "btn btn-primary" %>
  </div>
</div>

<%= smart_listing_render(:attendances) %>

<br>
